<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empleados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        ul{
            margin:20px;
        }
        h1{
            padding:12px;
            margin:12px;
        }
        .logout{
            color:white;
            text-decoration:none;
        }
        .logout:hover{
            color:black;
             text-decoration:none;
             border: solid 2px red;
        }
    </style>
</head>
<body>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a th:href="@{/AgregarEmpleado}" class="nav-link active">Agregar Nuevo Empleado</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/VerEmpresas}" class="nav-link ">Ver Empresas</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/VerMovimientos}" class="nav-link ">Ver Movimientos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link disabled" href="#">Usuario: [[${#httpServletRequest.remoteUser}]]</a>
    </li>
    <li class="nav-item bg-danger text-white">
        <a th:href="@{/logout}"  class="logout">Cerrar Sesion</a>
    </li>
</ul>
<div class="container">
<!--    <p th:inline="text" class="text-right">User: [[${#httpServletRequest.remoteUser}]]</p>-->
<!--    <button type="button" class="btn btn-danger" style="float:right">-->
<!--        <a th:href="@{/logout}">Cerrar Sesión</a>-->
<!--    </button>-->

    <h1 class="text-center bg-dark text-white ">Lista de Empleados</h1>

    <!--Crear tabla -->
    <table class="table table-bordered">
        <tr class="info">
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Empresa</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Movimientos</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--Llenar la tabla con datos-->
        <tr th:each="empleado: ${emplelist}"><!--emplelist esta en la clase Controlador -->
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombreEmpleado}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.empresa.nombre}"></td>
            <td th:if="${empleado.rol=='ROLE_ADMIN'}">Administrativo</td>
            <td th:if="${empleado.rol=='ROLE_USER'}">Operativo</td>
            <td th:if="${empleado.estado==true}">ACTIVO</td>
            <td th:if="${empleado.estado==false}">INACTIVO</td>
            <td><button type="button" class="btn btn-info"><a th:href="@{/Empleado/{id}/Movimientos (id=${empleado.id})}">Ver</a></button></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpleado/{id}/(id=${empleado.id})}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpleado/{id}/(id=${empleado.id})}">Eliminar</a></button></td>
         </tr>
    </table>

    <!--creamos boton para agregar Empleados-->
<!--    <button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpleado}">Agregar Nuevo Empleado</a></button>-->
<!--    <button type="button" class="btn btn-info"><a th:href="@{/VerEmpresas}">Ver Empresas</a></button>-->
<!--    <button type="button" class="btn btn-info"><a th:href="@{/VerMovimientos}">Ver Movimientos</a></button>-->

</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empleado registrado con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empleado actualizado con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empleado eliminado con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empleado no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }
    }

</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>